---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/badges//recipients?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&page=1&pagesize=10&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"user":{"reputation":1,"user_id":68826,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/adf65f603a7ccdaa540ee4b0095a0131?s=128&d=identicon&r=PG","display_name":"Metalith","link":"http://gamedev.stackexchange.com/users/68826/metalith"},"badge_type":"named","rank":"bronze","badge_id":3,"link":"http://gamedev.stackexchange.com/badges/3/editor","name":"Editor"},{"user":{"reputation":1,"user_id":68828,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/9f03c5e42273c79ef40edbe10a17020a?s=128&d=identicon&r=PG&f=1","display_name":"D
        White","link":"http://gamedev.stackexchange.com/users/68828/d-white"},"badge_type":"named","rank":"bronze","badge_id":9,"link":"http://gamedev.stackexchange.com/badges/9/autobiographer","name":"Autobiographer"},{"user":{"reputation":876,"user_id":4828,"user_type":"registered","accept_rate":40,"profile_image":"https://www.gravatar.com/avatar/320f5565782314194fb5fe584b1945d0?s=128&d=identicon&r=PG","display_name":"piotrek","link":"http://gamedev.stackexchange.com/users/4828/piotrek"},"badge_type":"named","rank":"silver","badge_id":27,"link":"http://gamedev.stackexchange.com/badges/27/notable-question","name":"Notable
        Question"},{"user":{"reputation":153,"user_id":24301,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/01d83faf6c14aaaac09696dcf10fb3a9?[...]
