---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/badges/146;20/recipients?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&page=1&pagesize=10&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"user":{"reputation":153,"user_id":24301,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/01d83faf6c14aaaac09696dcf10fb3a9?s=128&d=identicon&r=PG","display_name":"Kh&#244;i","link":"http://gamedev.stackexchange.com/users/24301/kh%c3%b4i"},"badge_type":"named","rank":"bronze","badge_id":20,"link":"http://gamedev.stackexchange.com/badges/20/nice-question","name":"Nice
        Question"},{"user":{"reputation":53,"user_id":15425,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/686ff70f2665c88681aa5a1717ca0a3b?s=128&d=identicon&r=PG","display_name":"GameBoii","link":"http://gamedev.stackexchange.com/users/15425/gameboii"},"badge_type":"named","rank":"bronze","badge_id":20,"link":"http://gamedev.stackexchange.com/badges/20/nice-question","name":"Nice
        Question"},{"user":{"reputation":229,"user_id":8320,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/fd94231c21fe817835a1f797979945e5?s=128&d=identicon&r=PG","display_name":"LukeN","link":"http://gamedev.stackexchange.com/users/8320/luken"},"badge_type":"named","rank":"bronze","badge_id":20,"link":"http://gamedev.stackexchange.com/badges/20/nice-question","name":"Nice
        Question"},{"user":{"reputation":123,"user_id":36674,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/868c67cd2d96685d2ec0a8bd472a2f69?s=128&d=identicon&r=PG","display_name":"Blackhole","link":"http://gamedev.stackexchange.com/users/36674/blackhole"},"badge_type":"named","rank":"bronze","badge_id":20,"link":"http://gamedev.stackexchange.com/badges/20/nice-question","name":"Nice
        Question"},{"user":{"reputation":332,"user_id":516,"user_type":"registered","accept_rate":50,"profile_image":"https://www.gravatar.com/avatar/125a471032cdef6e8de28ff6d54c7324?s=128&d=identicon&r=PG","display_name":"Dani","link":"http://gamedev.stackexchange.com/users/516/dani"},"badge_type":"named","rank":"bronze","badge_id":20,"link":"http://gamedev.stackexchange.com/badges/20/nice-question","name":"Nice
        Question"},{"user":{"reputation":11827,"user_id":189,"user_type":"registered","accept_rate":100,"profile_image":"https://www.gravatar.com/avatar/0087f137790db9fb677130c0d03f[...]
