---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/badges/146;20/recipients?access_token=CVypq8418U18d1dmKkgU1g))&key=Jv42M9)5XAaAea)c2ZyeeA((&page=1&pagesize=100&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"user":{"reputation":73,"user_id":51181,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/8bf0d5077d63e2ab66510b5f1d434946?s=128&d=identicon&r=PG","display_name":"Fabio","link":"http://gamedev.stackexchange.com/users/51181/fabio"},"badge_type":"named","rank":"bronze","badge_id":20,"link":"http://gamedev.stackexchange.com/badges/20/nice-question","name":"Nice
        Question"},{"user":{"reputation":58,"user_id":68424,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/afab80f73f20fab093bb783876eca009?s=128&d=identicon&r=PG","display_name":"Ghork","link":"http://gamedev.stackexchange.com/users/68424/ghork"},"badge_type":"named","rank":"bronze","badge_id":20,"link":"http://gamedev.stackexchange.com/badges/20/nice-question","name":"Nice
        Question"},{"user":{"reputation":178,"user_id":15199,"user_type":"registered","pr[...]
