---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/badges/1;2?access_token=CVypq8418U18d1dmKkgU1g))&key=Jv42M9)5XAaAea)c2ZyeeA((&max=bronze&min=gold&pagesize=100&site=gamedev&sort=rank
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"badge_type":"named","award_count":6588,"rank":"bronze","badge_id":1,"link":"http://gamedev.stackexchange.com/badges/1/teacher","name":"Teacher"},{"badge_type":"named","award_count":9557,"rank":"bronze","badge_id":2,"link":"http://gamedev.stackexchange.com/badges/2/student","name":"Student"}],"has_more":false,"quota_max":10000,"quota_remaining":9995}'
  recorded_at: Fri, 24 Jul 2015 21:39:54 GMT
recorded_with: VCR 2.7.0
