---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/badges/?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&max=bronze&min=gold&site=gamedev&sort=rank
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"badge_type":"named","award_count":6574,"rank":"bronze","badge_id":1,"link":"http://gamedev.stackexchange.com/badges/1/teacher","name":"Teacher"},{"badge_type":"named","award_count":9533,"rank":"bronze","badge_id":2,"link":"http://gamedev.stackexchange.com/badges/2/student","name":"Student"},{"badge_type":"named","award_count":7542,"rank":"bronze","badge_id":3,"link":"http://gamedev.stackexchange.com/badges/3/editor","name":"Editor"},{"badge_type":"named","award_count":96,"rank":"bronze","badge_id":4,"link":"http://gamedev.stackexchange.com/badges/4/cleanup","name":"Cleanup"},{"badge_type":"named","award_count":430,"rank":"bron[...]
