---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/comments/?access_token=CVypq8418U18d1dmKkgU1g))&key=Jv42M9)5XAaAea)c2ZyeeA((&max=10&min=1&pagesize=100&site=gamedev&sort=votes
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"user_type":"does_not_exist","display_name":"user744"},"reply_to_user":{"reputation":151,"user_id":15565,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/e7b2a1f59634eac3d1cab28363c752e8?s=128&d=identicon&r=PG","display_name":"Darkwings","link":"http://gamedev.stackexchange.com/users/15565/darkwings"},"edited":false,"score":10,"creation_date":1338128210,"post_id":29694,"comment_id":49738},{"owner":{"reputation":54565,"user_id":7191,"user_type":"moderator","accept_rate":100,"profile_image":"https://www.gravatar.com/avatar/961348f37a1c15dd0a50723cab14e013?s=128&d=identicon&r=PG","display_name":"Byte56","link":"http://gamedev.stackexchange.com/users/7191/byte56"},"edited":false,"score":10,"creation_date":1371394846,"post_id":57512,"comment_id":100234},{"owner":{"reputation":27777,"user_id":9894,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/a8433b04cb41dd57113740b779f61acb?s=128&d=identicon&r=PG","display_name":"Nathan
        Reed","li[...]
