---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/comments/104174??key=&access_token=&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"owner":{"reputation":485,"user_id":18505,"user_type":"registered","accept_rate":62,"profile_image":"https://www.gravatar.com/avatar/fe17c3f5d99fa221fc0462d12ec2a32b?s=128&d=identicon&r=PG","display_name":"mm24","link":"http://gamedev.stackexchange.com/users/18505/mm24"},"edited":false,"score":0,"creation_date":1374070872,"post_id":59292,"comment_id":104174}],"has_more":false,"quota_max":300,"quota_remaining":289}'
  recorded_at: Mon, 20 Jul 2015 15:15:40 GMT
recorded_with: VCR 2.9.3
