---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/comments/182466;182465?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":105,"user_id":45026,"user_type":"registered","profile_image":"http://i.stack.imgur.com/63y8N.png?s=128&g=1","display_name":"Lex
        Webb","link":"http://gamedev.stackexchange.com/users/45026/lex-webb"},"reply_to_user":{"reputation":2175,"user_id":19427,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/a88ae65009215d88b7aef50d2d7f5326?s=128&d=identicon&r=PG","display_name":"snake5","link":"http://gamedev.stackexchange.com/users/19427/snake5"},"edited":false,"score":0,"creation_date":1437351240,"post_id":104080,"comment_id":182466},{"owner":{"reputation":9,"user_id":67845,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/adcd1f1ead38c39ac2fcbdd1e14008f7?s=128&d=identicon&r=PG","display_name":"Grimmdev","link":"http://gamedev.stackexchange.com/users/67845/grimmdev"},"reply_to_user":{"reputation":236,"user_id":41345,"user_type":"registered","accept_rate":62,"profile_image":"http://i.stack.imgur.com/JWrsm.png?s=128&g=1","display_name":"Evorlor","link":"http://gamedev.stackexchange.com/users/41345/evorlor"},"edited":false,"score":0,"creation_date":1437349512,"post_id":104254,"comment_id":182465}],"has_more":false,"quota_max":10000,"quota_remaining":9867}'
  recorded_at: Mon, 20 Jul 2015 00:27:22 GMT
recorded_with: VCR 2.7.0
