---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/comments/?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&max=10&min=1&site=gamedev&sort=votes
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":780,"user_id":8547,"user_type":"registered","accept_rate":94,"profile_image":"http://i.stack.imgur.com/0YKB3.png?s=128&g=1","display_name":"ssb","link":"http://gamedev.stackexchange.com/users/8547/ssb"},"edited":false,"score":10,"creation_date":1373612200,"post_id":59005,"comment_id":103579},{"owner":{"reputation":27267,"user_id":51,"user_type":"moderator","profile_image":"https://www.gravatar.com/avatar/80d284e717d5720063a38d8e49739c87?s=128&d=identicon&r=PG","display_name":"Tetrad","link":"http://gamedev.stackexchange.com/users/51/tetrad"},"edited":false,"score":10,"creation_date":1322547795,"post_id":20328,"comment_id":32048},{"owner":{"reputation":5568,"user_id":9366,"user_type":"registered","accept_rate":100,"profile_image":"http://i.stack.imgur.com/u0gOs.png?s=128&g=1"[...]
