---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/comments/104174?access_token=CVypq8418U18d1dmKkgU1g))&key=Jv42M9)5XAaAea)c2ZyeeA((&pagesize=100&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":485,"user_id":18505,"user_type":"registered","accept_rate":62,"profile_image":"https://www.gravatar.com/avatar/fe17c3f5d99fa221fc0462d12ec2a32b?s=128&d=identicon&r=PG","display_name":"mm24","link":"http://gamedev.stackexchange.com/users/18505/mm24"},"edited":false,"score":0,"creation_date":1374070872,"post_id":59292,"comment_id":104174}],"has_more":false,"quota_max":10000,"quota_remaining":9992}'
  recorded_at: Fri, 24 Jul 2015 21:40:58 GMT
recorded_with: VCR 2.7.0
