---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/comments/?access_token=&key=&max=10&min=1&site=gamedev&sort=votes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"owner":{"reputation":5568,"user_id":9366,"user_type":"registered","accept_rate":100,"profile_image":"http://i.stack.imgur.com/u0gOs.png?s=128&g=1","display_name":"John
        McDonald","link":"http://gamedev.stackexchange.com/users/9366/john-mcdonald"},"edited":false,"score":10,"creation_date":1346300102,"post_id":35205,"comment_id":59358},{"owner":{"reputation":259,"user_id":2258,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/341cedbe3c60d489b92a3f2a069424f5?s=128&d=identicon&r=PG","display_name":"gkrogers","link":"http://gamedev.stackexchange.com/users/2258/gkrogers"},"edited":false,"score":10,"creation_date":1327034379,"post_id":4241,"comment_id":36571},{"owner":{"reputation":4167,"user_id":6558,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/5eaa711be3288ddca04517141f[...]
