---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/questions/13804832/linked?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[],"has_more":false,"quota_max":10000,"quota_remaining":9846}'
  recorded_at: Mon, 20 Jul 2015 00:47:28 GMT
recorded_with: VCR 2.7.0
