---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/questions/20/comments?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":85,"user_id":26826,"user_type":"registered","accept_rate":67,"profile_image":"https://www.gravatar.com/avatar/ccf6483706fa853c8295b67a82990b93?s=128&d=identicon&r=PG","display_name":"gdebojyoti","link":"http://gamedev.stackexchange.com/users/26826/gdebojyoti"},"edited":false,"score":0,"creation_date":1395514976,"post_id":20,"comment_id":130904},{"owner":{"reputation":162,"user_id":14709,"user_type":"registered","profile_image":"file://i.stack.imgur.com/VOZY2.jpg%3Fs=128&g=1?s=128&g=1","display_name":"Fuex","link":"http://gamedev.stackexchange.com/users/14709/fuex"},"edited":false,"score":0,"creation_date":1385039830,"post_id":20,"comment_id":118355},{"owner":{"reputation":27267,"user_id":51,"user_type":"moderator","profile_image":"https://www.gravatar.com/avatar/80d284e717d5720063a38d8e49739c87?s=128&d=identicon&r=PG","display_name":"Tetrad","link":"http://gamedev.stackexchange.com/users/51/tetrad"},"edited":false,"score":0,"creation_date":1327177275,"post_id":20,"comment_id":36672},{"owner":{"reputation":56546,"user_id":1430,"user_type":"moderator","profile_image":"http://i.stack.imgur.com/jJCFx.png?s=128&g=1","display_name":"Josh
        Petrie","link":"http://gamedev.stackexchange.com/users/1430/josh-petrie"},"edited":false,"score":0,"creation_date":1326827637,"post_id":20,"comment_id":36249},{"owner":{"reputation":236,"user_id":8524,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/ade0b0ec5fe1605809cac9f495e6d893?s=128&d=identicon&r=PG","display_name":"Steve314","link":"http://gamedev.stackexchange.com/users/8524/steve314"},"reply_to_user":{"reputation":2106,"user_id":2306,"user_type":"registered","accept_rate":92,"profile_image":"https://www.gravatar.com/avatar/835ce4a0d24991a518a6b71de294b70e?s=128&d=identicon&r=PG","display_name":"David
        Lively","link":"http://gamedev.stackexchange.com/users/2306/david-lively"},"edited":false,"score":0,"creation_date":1311715951,"post_id":20,"comment_id":22828},{"owner":{"reputation":4996,"user_id":2061,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/460167b95ff[...]
