---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/questions/104252?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"tags":["android","opengl-es2"],"owner":{"reputation":1,"user_id":68826,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/adf65f603a7ccdaa540ee4b0095a0131?s=128&d=identicon&r=PG","display_name":"Metalith","link":"http://gamedev.stackexchange.com/users/68826/metalith"},"is_answered":false,"view_count":13,"answer_count":0,"score":-1,"last_activity_date":1437346572,"creation_date":1437343128,"last_edit_date":1437346572,"question_id":104252,"link":"http://gamedev.stackexchange.com/questions/104252/cant-draw-textures-with-a-reasonable-speed","title":"Can&#39;t
        draw textures with a reasonable speed"}],"has_more":false,"quota_max":10000,"quota_remaining":9865}'
  recorded_at: Mon, 20 Jul 2015 00:27:48 GMT
recorded_with: VCR 2.7.0
