---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/questions/85;46463/answers?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":813,"user_id":9284,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/cf505c9af73357aad874f83044c8551c?s=128&d=identicon&r=PG","display_name":"ddyer","link":"http://gamedev.stackexchange.com/users/9284/ddyer"},"is_accepted":false,"community_owned_date":1393538342,"score":2,"last_activity_date":1391457899,"creation_date":1391457899,"answer_id":69805,"question_id":85},{"owner":{"user_type":"does_not_exist","display_name":"user31353"},"is_accepted":false,"score":4,"last_activity_date":1370241074,"last_edit_date":1370241074,"creation_date":1369955810,"answer_id":56523,"question_id":46463},{"owner":{"reputation":57,"user_id":3623,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/4047bbe8a63f7497b5058b854af8e80b?s=128&d=identicon&r=PG","display_name":"Raistx","link":"http://gamedev.stackexchange.com/users/3623/raistx"},"is_accepted":false,"community_owned_date":1393538342,"score":5,"last_activity_date":1365227240,"creation_date":1365227240,"answer_id":53392,"question_id":85},{"owner":{"reputation":781,"user_id":24506,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/cc22e760170e318c8339d3c3694882dc?s=128&d=identicon&r=PG","display_name":"Matt
        M.","link":"http://gamedev.stackexchange.com/users/24506/matt-m"},"is_accepted":false,"score":68,"last_activity_date":1357321609,"last_edit_date":1357321609,"creation_date":1356839610,"answer_id":46476,"question_id":46463},{"owner":{"reputation":11189,"user_id":998,"user_type":"registered","accept_rate":78,"profile_image":"https://www.gravatar.com/avatar/a4ec51727310397c9e592dd84ae74dc2?s=128&d=identicon&r=PG","display_name":"bobobobo","link":"http://gamedev.stackexchange.com/users/998/bobobobo"},"is_accepted":false,"score":23,"last_activity_date":1357321600,"last_edit_date":1357321600,"creation_date":1357070206,"answer_id":46587,"question_id":46463},{"owner":{"reputation":17925,"user_id":5864,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/50e8566ae648791d494e7316ed51[...]
