---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/39518/top-answer-tags?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"user_id":39518,"answer_count":9,"answer_score":165,"question_count":0,"question_score":0,"tag_name":"physics"},{"user_id":39518,"answer_count":14,"answer_score":135,"question_count":1,"question_score":0,"tag_name":"mathematics"},{"user_id":39518,"answer_count":44,"answer_score":111,"question_count":1,"question_score":1,"tag_name":"unity"},{"user_id":39518,"answer_count":10,"answer_score":58,"question_count":0,"question_score":0,"tag_name":"shaders"},{"user_id":39518,"answer_count":7,"answer_score":41,"question_count":0,"question_score":0,"tag_name":"2d"},{"user_id":39518,"answer_count":8,"answ[...]
