---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/68829/notifications?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"site":{"styling":{"tag_background_color":"#E7ECEC","tag_foreground_color":"#555555","link_color":"#0077DD"},"related_sites":[{"relation":"chat","site_url":"http://chat.stackexchange.com?tab=site&host=stackapps.com","name":"Chat
        Stack Exchange"}],"markdown_extensions":["Prettify"],"launch_date":1274313600,"site_state":"normal","high_resolution_icon_url":"http://cdn.sstatic.net/stackapps/img/apple-touch-icon@2.png","favicon_url":"http://cdn.sstatic.net/stackapps/img/favicon.ico","icon_url":"http://cdn.sstatic.net/stackapps/img/apple-touch-icon.png","audience":"apps,
        scripts, and development with the Stack Exchange API","site_url":"http://stackapps.com","api_site_parameter":"stackapps","logo_url":"http://cdn.sstatic.net/stackapps/img/logo.png","name":"Stack
        Apps","site_type":"main_site"},"is_unread":false,"creation_date":1436896403,"notification_type":"generic"}],"has_more":false,"quota_max":10000,"quota_remaining":9821}'
  recorded_at: Mon, 20 Jul 2015 17:02:37 GMT
recorded_with: VCR 2.9.3
