---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/31086/tags/ruby/top-answers?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"owner":{"reputation":113,"user_id":31086,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/1c787bc735dbe80ec2f88824e1d10c6c?s=128&d=identicon&r=PG","display_name":"Andrew","link":"http://gamedev.stackexchange.com/users/31086/andrew"},"is_accepted":false,"score":0,"last_activity_date":1369342183,"creation_date":1369342183,"answer_id":56075,"question_id":3574}],"has_more":false,"quota_max":10000,"quota_remaining":9767}'
  recorded_at: Mon, 20 Jul 2015 17:48:59 GMT
recorded_with: VCR 2.9.3
