---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/1430/timeline?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"post_id":104287,"user_id":1430,"timeline_type":"answered","post_type":"answer","creation_date":1437416473,"title":"Should
        a mesh consist of triangles or quads?"},{"suggested_edit_id":7096,"post_id":101106,"user_id":1430,"timeline_type":"reviewed","post_type":"question","creation_date":1437411311,"title":"Handling
        touch input with Event Trigger"},{"comment_id":182514,"post_id":103255,"user_id":1430,"timeline_type":"commented","post_type":"question","creation_date":1437411246,"detail":"I''m
        voting to close this question as off-topic because it is about converting
        a specific shader into another shading language.","title":"Shader request
        (cg shader provided) : an xBR scaling shader for Unity"},{"suggested_edit_id":7094,"post_id":102533,"user_id":1430,"timeline_type":"reviewed","post_type":"question","creation_date":1437410850,"title":"Would
        Raycast suffice for a game clock based on sun position?"},{"suggested_edit_id":7093,"post_id":104023,"user_id":1430,"timeline_type":"reviewed","post_type":"question","creation_date":1437410811,"title":"How
        do you set up the physics for a tank?"},{"comment_id":182509,"post_id":104284,"user_id":1430,"timeline_type":"commented","post_type":"question","creation_date":1437408974,"detail":"An
        unordered_map<glm::ivec3,Chunk,KeyHash,KeyEqual> takes ivec3''s as keys; you''re
        trying to insert a pair of (chunk, chunkIndex) (so using the chunk as a key);
        perhaps you meant to reverse the order of the make_pair parameters?","title":"C++
        OpenGL storing chunks in unordered map doesn&#39;t work"},{"post_id":104284,"user_id":1430,"timeline_type":"revision","post_type":"question","creation_date":1437408758,"detail":"added
        2 characters in body","title":"C++ OpenGL storing chunks in unordered map
        doesn&#39;t work"},{"badge_id":24,"post_id":22561,"user_id":1430,"timeline_type":"badge","post_type":"answer","creation_date":1437369886,"detail":"Good
        Answer","title":"Is storing all game objects in a single list an acceptable
        design?"},{"badge_id":137,"user_id":1430,"timeline_type":"badge","creation_date":1437194182,"detail":"Illuminator"},{"post_id":104141,"user_id":1430,"timeline_type":"answered","post_type":"answer","creation_date":1437168734,"title":"How
        can I represent location in a massive worl[...]
