---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/31086/badges?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&order=asc&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"user":{"reputation":113,"user_id":31086,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/1c787bc735dbe80ec2f88824e1d10c6c?s=128&d=identicon&r=PG","display_name":"Andrew","link":"http://gamedev.stackexchange.com/users/31086/andrew"},"badge_type":"named","award_count":1,"rank":"bronze","badge_id":2,"link":"http://gamedev.stackexchange.com/badges/2/student","name":"Student"},{"user":{"reputation":113,"user_id":31086,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/1c787bc735dbe80ec2f88824e1d10c6c?s=128&d=identicon&r=PG","display_name":"Andrew","link":"http://gamedev.stackexchange.com/users/31086/andrew"},"badge_type":"named","award_count":1,"rank":"bronze","badge_id":3,"link":"http://gamedev.stackexchange.com/badges/3/editor","name":"Editor"},{"user":{"reputation":113,"user_id":31086,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/1c787bc735dbe80ec2f88824e1d10c6c?s=128&d=identicon&r=PG","display_name":"Andrew","link":"http://gamedev.stackexchange.com/users/31086/andrew"},"badge_type":"named","award_count":1,"rank":"bronze","badge_id":10,"link":"http://gamedev.stackexchange.com/badges/10/scholar","name":"Scholar"}],"has_more":false,"quota_max":10000,"quota_remaining":9830}'
  recorded_at: Mon, 20 Jul 2015 16:59:10 GMT
recorded_with: VCR 2.9.3
