---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/39518/top-question-tags?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"user_id":39518,"answer_count":1,"answer_score":2,"question_count":1,"question_score":1,"tag_name":"motion-control"},{"user_id":39518,"answer_count":1,"answer_score":2,"question_count":1,"question_score":1,"tag_name":"windows"},{"user_id":39518,"answer_count":1,"answer_score":2,"question_count":1,"question_score":1,"tag_name":"playstation4"},{"user_id":39518,"answer_count":1,"answer_score":2,"question_count":1,"question_score":1,"tag_name":"gamepad"},{"user_id":39518,"answer_count":44,"answer_score":111,"question_count":1,"question_score":1,"tag_name":"unity"}],"has_more":false,"quota_max":10000,"quota_remaining":9751}'
  recorded_at: Mon, 20 Jul 2015 17:55:41 GMT
recorded_with: VCR 2.9.3
