---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/35919/questions/unaccepted?access_token=&key=ZEGYIdaRKJ4eFpqjOrX6dw((&pagesize=100&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[],"has_more":false,"quota_max":10000,"quota_remaining":9968}'
  recorded_at: Fri, 24 Jul 2015 18:40:26 GMT
recorded_with: VCR 2.7.0
