---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/68829/notifications/unread?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[],"has_more":false,"quota_max":10000,"quota_remaining":9819}'
  recorded_at: Mon, 20 Jul 2015 17:05:54 GMT
recorded_with: VCR 2.9.3
