---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/34618/questions/no-answers?access_token=CVypq8418U18d1dmKkgU1g))&key=Jv42M9)5XAaAea)c2ZyeeA((&pagesize=100&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"tags":["opengl","c++11","fractal"],"owner":{"reputation":1,"user_id":34618,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/61cc34c3ccafb39767318ae74f29054f?s=128&d=identicon&r=PG","display_name":"darpan1118","link":"http://gamedev.stackexchange.com/users/34618/darpan1118"},"is_answered":false,"view_count":26,"answer_count":0,"score":-1,"last_activity_date":1437409781,"creation_date":1437409781,"question_id":104285,"link":"http://gamedev.stackexchange.com/questions/104285/help-with-zoom-in-functionality-in-mandelbrot-set","title":"Help
        with Zoom in Functionality in Mandelbrot set"}],"has_more":false,"quota_max":10000,"quota_remaining":9989}'
  recorded_at: Fri, 24 Jul 2015 21:41:02 GMT
recorded_with: VCR 2.7.0
