---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/31086?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"badge_counts":{"bronze":3,"silver":0,"gold":0},"account_id":20341,"is_employee":false,"last_modified_date":1369341546,"last_access_date":1428203516,"age":30,"reputation_change_year":0,"reputation_change_quarter":0,"reputation_change_month":0,"reputation_change_week":0,"reputation_change_day":0,"reputation":113,"creation_date":1369341546,"user_type":"registered","user_id":31086,"location":"Portland,
        OR","website_url":"http://www.andrewhavens.com","link":"http://gamedev.stackexchange.com/users/31086/andrew","profile_image":"https://www.gravatar.com/avatar/1c787bc735dbe80ec2f88824e1d10c6c?s=128&d=identicon&r=PG","display_name":"Andrew"}],"has_more":false,"quota_max":10000,"quota_remaining":9834}'
  recorded_at: Mon, 20 Jul 2015 16:56:49 GMT
recorded_with: VCR 2.9.3
