---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/31086/tags?access_token=CVypq8418U18d1dmKkgU1g))&key=Jv42M9)5XAaAea)c2ZyeeA((&max=10&min=1&pagesize=100&site=gamedev&sort=popular
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"has_synonyms":true,"user_id":31086,"is_moderator_only":false,"is_required":false,"count":1,"name":"engine"},{"has_synonyms":false,"user_id":31086,"is_moderator_only":false,"is_required":false,"count":1,"name":"input"},{"has_synonyms":false,"user_id":31086,"is_moderator_only":false,"is_required":false,"count":1,"name":"ruby"},{"has_synonyms":false,"user_id":31086,"is_moderator_only":false,"is_required":false,"count":1,"name":"sdl2"},{"has_synonyms":false,"user_id":31086,"is_moderator_only":false,"is_required":false,"count":1,"name":"wii"}],"has_more":false,"quota_max":10000,"quota_remaining":9990}'
  recorded_at: Fri, 24 Jul 2015 21:41:01 GMT
recorded_with: VCR 2.7.0
