---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/2698/suggested-edits?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"proposing_user":{"reputation":6072,"user_id":2698,"user_type":"registered","accept_rate":75,"profile_image":"http://i.stack.imgur.com/8G3J5.png?s=128&g=1","display_name":"doppelgreener","link":"http://gamedev.stackexchange.com/users/2698/doppelgreener"},"approval_date":1312267782,"creation_date":1312267226,"post_type":"question","post_id":15469,"suggested_edit_id":591,"comment":"Let&#39;s
        give this a title that actually has something to do with the question","title":"How
        do I get attractive small text in XNA without using external libraries?"},{"proposing_user":{"reputation":6072,"user_id":2698,"user_type":"registered","accept_rate":75,"profile_image":"http://i.stack.imgur.com/8G3J5.png?s=128&g=1","display_name":"doppelgreener","link":"http://gamedev.stackexchange.com/users/2698/doppelgreener"},"approval_date":1311590349,"creation_date":1311582608,"post_type":"question","post_id":15180,"suggested_edit_id":578,"comment":"This
        isn&#39;t a tile[...]
