---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/3106/comments?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev&sort=votes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"owner":{"reputation":178,"user_id":3106,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/bafe5c90c48aacceb58f3f36a663f4e7?s=128&d=identicon&r=PG","display_name":"i_grok","link":"http://gamedev.stackexchange.com/users/3106/i-grok"},"reply_to_user":{"reputation":232,"user_id":1910,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/802113f4b883c2aac25ad2dced9ac605?s=128&d=identicon&r=PG","display_name":"Dream
        Lane","link":"http://gamedev.stackexchange.com/users/1910/dream-lane"},"edited":false,"score":1,"creation_date":1307289834,"post_id":5500,"comment_id":18273},{"owner":{"reputation":178,"user_id":3106,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/bafe5c90c48aacceb58f3f36a663f4e7?s=128&d=identicon&r=PG","display_name":"i_grok","link":"http://gamedev.stackexchange.com/users/3106/i-grok"},"edited":false,"score":1,"creation_date":1329629710,"post_id":2509,"comment_id":39114},{"owner":{"reputation":178,"user_id":3106,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/bafe5c90c48aacceb58f3f36a663f4e7?s=128&d=identicon&r=PG","display_name":"i_grok","link":"http://gamedev.stackexchange.com/users/3106/i-grok"},"reply_to_user":{"reputation":561,"user_id":11956,"user_type":"registered","accept_rate":93,"profile_image":"https://www.gravatar.com/avatar/14357f2970f5a0a69cda34badca35a61?s=128&d=identicon&r=PG","display_name":"Darestium","link":"http://gamedev.stackexchange.com/users/11956/darestium"},"edited":false,"score":0,"creation_date":1330638457,"post_id":24152,"comment_id":40200},{"owner":{"reputation":178,"user_id":3106,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/bafe5c90c48aacceb58f3f36a663f4e7?s=128&d=identicon&r=PG","display_name":"i_grok","link":"http:/[...]
