---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/35919/questions/unaccepted?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"tags":["shape","rectangle"],"owner":{"reputation":185,"user_id":35919,"user_type":"registered","profile_image":"http://i.stack.imgur.com/zHE1v.jpg?s=128&g=1","display_name":"Greg
        Quinn","link":"http://gamedev.stackexchange.com/users/35919/greg-quinn"},"is_answered":false,"view_count":11,"answer_count":2,"score":2,"last_activity_date":1437377941,"creation_date":1437367651,"question_id":104262,"link":"http://gamedev.stackexchange.com/questions/104262/getting-the-topleft-topright-bottomleft-and-bottomright-points-of-a-shape-in-u","title":"Getting
        the topleft, topright, bottomleft and bottomright points of a shape in Unity3D?"}],"has_more":false,"quota_max":10000,"quota_remaining":9789}'
  recorded_at: Mon, 20 Jul 2015 17:23:58 GMT
recorded_with: VCR 2.9.3
