---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/39518;40264/mentioned?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"owner":{"reputation":36,"user_id":68261,"user_type":"registered","accept_rate":50,"profile_image":"http://graph.facebook.com/726296462/picture?type=large","display_name":"Etienne
        Charland","link":"http://gamedev.stackexchange.com/users/68261/etienne-charland"},"reply_to_user":{"reputation":2003,"user_id":40264,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/47e98f619e6b1fd3c1162253865b6c3b?s=128&d=identicon&r=PG","display_name":"Alexandre
        Vaillancourt","link":"http://gamedev.stackexchange.com/users/40264/alexandre-vaillancourt"},"edited":false,"score":0,"creation_date":1437333096,"post_id":104241,"comment_id":182448},{"owner":{"reputation":298,"user_id":29973,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/9c263fc8087f3c927899d57ce891710c?s=128&d=identicon&r=PG","display_name":"Chaosed0","link":"http://gamedev.stackexchange.com/users/29973/chaosed0"},"reply_to_user":{"reputation":5968,"user_id":39518,"user_type":"registered","profile_image":"http://i.stack.imgur.com/DjCnH.png?s=128&g=1","display_name":"DMGregory","link":"http://gamedev.stackexchange.com/users/39518/dmgregory[...]
