---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/31086/tags?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&max=10&min=1&site=gamedev&sort=popular
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"has_synonyms":true,"user_id":31086,"is_moderator_only":false,"is_required":false,"count":1,"name":"engine"},{"has_synonyms":false,"user_id":31086,"is_moderator_only":false,"is_required":false,"count":1,"name":"input"},{"has_synonyms":false,"user_id":31086,"is_moderator_only":false,"is_required":false,"count":1,"name":"ruby"},{"has_synonyms":false,"user_id":31086,"is_moderator_only":false,"is_required":false,"count":1,"name":"sdl2"},{"has_synonyms":false,"user_id":31086,"is_moderator_only":false,"is_required":false,"count":1,"name":"wii"}],"has_more":false,"quota_max":10000,"quota_remaining":9771}'
  recorded_at: Mon, 20 Jul 2015 17:41:40 GMT
recorded_with: VCR 2.9.3
