---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/31086/questions?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"tags":["sdl2","wii"],"owner":{"reputation":113,"user_id":31086,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/1c787bc735dbe80ec2f88824e1d10c6c?s=128&d=identicon&r=PG","display_name":"Andrew","link":"http://gamedev.stackexchange.com/users/31086/andrew"},"is_answered":true,"view_count":105,"accepted_answer_id":90342,"answer_count":1,"score":0,"last_activity_date":1419722546,"creation_date":1419719575,"question_id":90338,"link":"http://gamedev.stackexchange.com/questions/90338/how-to-make-a-wii-game-with-sdl","title":"How
        to make a Wii game with SDL?"},{"tags":["engine","input"],"owner":{"reputation":113,"user_id":31086,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/1c787bc735dbe80ec2f88824e1d10c6c?s=128&d=identicon&r=PG","display_name":"Andrew","link":"http://gamedev.stackexchange.com/users/31086/andrew"},"is_answered":true,"view_count":548,"answer_count":1,"score":2,"last_activity_date":1385157941,"creation_date":1379886030,"last_edit_date":1379912831,"question_id":62572,"link":"http://gamedev.stackexchange.com/questions/62572/how-to-implement-input-handling-in-a-c-game-engine","title":"How
        to implement input handling in a C game engine?"}],"has_more":false,"quota_max":10000,"quota_remaining":9814}'
  recorded_at: Mon, 20 Jul 2015 17:09:24 GMT
recorded_with: VCR 2.9.3
