---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/68829/write-permissions?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"min_seconds_between_actions":5,"max_daily_actions":100,"can_delete":true,"can_edit":true,"can_add":true,"user_id":68829,"object_type":"comment"}],"has_more":false,"quota_max":10000,"quota_remaining":9732}'
  recorded_at: Mon, 20 Jul 2015 18:38:48 GMT
recorded_with: VCR 2.9.3
