---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/39518;40264/favorites?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"tags":["design-patterns","development-speed"],"owner":{"reputation":341,"user_id":64595,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/df4c7ab04963bb832ae5935638305b9e?s=128&d=identicon&r=PG&f=1","display_name":"newton1212","link":"http://gamedev.stackexchange.com/users/64595/newton1212"},"is_answered":true,"view_count":164,"accepted_answer_id":101703,"answer_count":2,"score":8,"last_activity_date":1433372085,"creation_date":1433037186,"question_id":101701,"link":"http://gamedev.stackexchange.com/questions/101701/large-scale-iterative-design","title":"Large
        scale iterative design"},{"tags":["c++","engine","entity-system","optimization"],"owner":{"reputation":211,"user_id":50178,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/ad0d170125b88eddab447d9c6030f428?s=128&d=identicon&r=PG","display_name":"Haydn
        V. Harach","link":"http://gamedev.stackexchange.com/users/50178/haydn-v-harach"},"is_answered":true,"view_count":1118,"answer_count":1,"score":15,"last_activity_date":1418031991,"creation_date":1408219048,"last_edit_date":1408244975,"question_id":82030,"link":"http://gamedev.stackexchange.com/questions/82030/how-are-entity-systems-cache-efficient","title":"How
        are entity systems cache-efficient?"},{"tags":["level-design","grid","hexagon"],"owner":{"reputation":261,"user_id":1919,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/386d054a2a93527680bbe41fb7f2a0f3?s=128&d=identicon&r=PG","display_name":"Click
        Ok","link":"http://gamedev.stackexchange.com/users/1919/click-ok"},"i[...]
