---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/36674/reputation?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"on_date":1437402032,"reputation_change":55,"vote_type":"up_votes","post_type":"question","post_id":100604,"user_id":36674},{"on_date":1436803926,"reputation_change":5,"vote_type":"up_votes","post_type":"question","post_id":103875,"user_id":36674},{"on_date":1395334146,"reputation_change":15,"vote_type":"up_votes","post_type":"question","post_id":72213,"user_id":36674}],"has_more":false,"quota_max":10000,"quota_remaining":9784}'
  recorded_at: Mon, 20 Jul 2015 17:26:47 GMT
recorded_with: VCR 2.9.3
