---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users/?access_token=eS6EyGy7zC8Rqmpz5CDxSg))&inname=andrew&key=ZEGYIdaRKJ4eFpqjOrX6dw((&site=gamedev&sort=reputation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"badge_counts":{"bronze":89,"silver":39,"gold":5},"account_id":55286,"is_employee":false,"last_modified_date":1432137108,"last_access_date":1437404395,"reputation_change_year":341,"reputation_change_quarter":15,"reputation_change_month":15,"reputation_change_week":5,"reputation_change_day":5,"reputation":18954,"creation_date":1279203256,"user_type":"registered","user_id":288,"accept_rate":67,"location":"Brisbane,
        Australia","website_url":"http://www.andrewrussell.net/","link":"http://gamedev.stackexchange.com/users/288/andrew-russell","profile_image":"https://www.gravatar.com/avatar/eac2e824ea361ad482a00e73214b7e6c?s=128&d=identicon&r=PG","display_name":"Andrew
        Russell"},{"badge_counts":{"bronze":6,"silver":5,"gold":0},"account_id":126166,"is_employee":false,"last_modified_date":1432137108,"last_access_date":1288002211,"age":26,"reputation_change_year":0,"reputation_change_quarter":0,"reputation_change_month":0,"reputation_change_week":0,"reputation_change_day":0,"reputation":619,"creation_date":1279136111,"user_type":"registered","user_id":94,"location":"Boston,
        MA","website_url":"http://mercuric.net","link":"http://gamedev.stackexchange.com/users/94/andrew-brockert","profile_image":"https://www.gravatar.com/avatar/3fcb8656a819741bb919495993c85615?s=128&d=identicon&r=PG","display_name":"Andrew
        Brock[...]
